@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            .welcome-page-button {
                font-size: 1rem;
                left: 0;
                text-align: center;
                width: 100%;
            }
        }

        .header {
            background-color: #002637;

            .insecure-room-name-warning {
                width: 100%;
            }

            #enter_room {
                width: 100%;
                height: auto !important;
                min-height: 100px;

                .join-meeting-container {
                    padding: 0;
                    flex-direction: column;
                    display: flex;
                    display: -webkit-flex;
                    background: transparent;
                    border: none;
                }

                .enter-room-input-container {
                    padding-right: 0;
                    margin-bottom: 10px;

                    .enter-room-input {
                        height: 50px;
                        color: #253858;
                        -webkit-text-fill-color: #253858;
                        background: #fff;
                        border: 1px solid #e0e0e0;
                        -webkit-appearance: none;
                        appearance: none;
                    }
                }
            }
        }

        .header-text-title {
            text-align: center;
        }

        .welcome-cards-container {
            padding: 0;
        }

        &.without-content {
            .header {
            height: 100%;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: flex;
            flex-direction: column;
            gap:12px;
            align-items: center;
        }
    }
}
